docs/wrappers
__pycache__
.snakemake
.ipynb_checkpoints
.DS_Store
.cache
.idea
my_tests
bigr_pipelines/common/conda
bigr_pipelines/common/cache
bigr_pipelines/common/env*
bigr_pipelines/*/test/
bigr_pipelines/conda
bigr_pipelines/seqoia/scripts/seqOIA_rules/*
bigr_pipelines/seqoia/scripts/seqOIA_script/*
bigr_pipelines/seqoia/scripts/Snakefile_analysis_nowgs_2.1
bigr_pipelines/annot_sv/source/
bigr_pipelines/seqoia/Snakefile.bak
bigr_pipelines/sigprofiler_signatures/seqioa/
bigr_pipelines/sigprofiler_signatures/tests/calls/
bigr_pipelines/shadowed/
